logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
.vscdoe

out
docs

# Runtime data
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
node_modules/
jspm_packages/
typings/
README.md
typings.json
webpack.config.js
test
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
.next